.service_heading{
  text-align: center;
  margin-top: 2%;
}


.line{
  border-style: solid;

  border-width: 3px;
}

.align{
  text-align: center;
}
.c_ig{
  color:pink;
}
.c_you{
  color:red;
}
.c_tk{
  color:black;
}
